<section class="header">
  <span class="logo">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-feather"><path d="M20.24 12.24a6 6 0 0 0-8.49-8.49L5 10.5V19h8.5z"></path><line x1="16" y1="8" x2="2" y2="22"></line><line x1="17" y1="15" x2="9" y2="15"></line></svg>
  Tinyboard
  </span>
</section>

<section class="topics">

  <% @topics.each do |topic| %>
    <a href="/topic/<%= topic[:id] %>" class="topic">
      <span class="user-logo <%= topic[:author_theme] %>">
        <%= topic[:author_initials] %>
      </span>
      <%= topic[:title] %>
      <section class="topic-stats">
        <section class="topic-replies">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
          <%= topic[:message_count] %>
        </section>
      </section>
    </a>
    <span class="topic-divider"></span>
  <% end %>

</section>

<% if session[:user] %>
  <section class="new-topic-wrapper">
    <a href="/new-topic">+ New topic</a>
  </section>
<% else %>
  <session class="new-topic-wrapper">
    <a href="/join">Join to post</a>
  </section>
<% end %>
