<section class="topics">
  <% @topics.each do |topic| %>
    <a href="/topic/<%= topic[:id] %>" class="topic">
      <span class="user-logo <%= topic[:author_theme] %>">
        <%= topic[:author_initials] %>
      </span>
      <%= topic[:title] %>
      <section class="topic-stats">
        <section class="topic-replies">
          <%= topic[:message_count] %>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
        </section>
      </section>
    </a>
    <span class="topic-divider"></span>
  <% end %>
</section>

<% if session[:user] %>
  <section class="new-topic-wrapper">
    <a href="/new-topic">+ New topic</a>
  </section>
<% else %>
  <session class="new-topic-wrapper">
    <a href="/join">Join to post</a>
  </section>
<% end %>

<!--
<section class="pagination" style="margin: 20px auto;">
    <form method="get" action="/" style="width: 36px;">
      <input type="hidden" name="page" value="">
      <button class="button"><svg class="feather feather-arrow-left sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" style="width: 16px;"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></button>
    </form>
  <section style="flex: 1;display: flex;align-items: center;justify-content: center;background: white;color: #222;border: 1px solid #ddd;border-top: 0;border-bottom: 0;">
  </section>
  <form method="get" action="/" style="width: 36px">
    <input type="hidden" name="page" value="">
    <button type="submit" class="button" style="border-radius: 0 4px 4px 0;"><svg class="feather feather-arrow-right sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" style="width: 16px;"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></button>
  </form>
</section>
-->
