<section class="topic-view">
  <section class="topic-title">
    <h2>
      <%= @title %>
    </h2>
  </section>

  <section class="topic-messages">
    <% @messages.each do |message| %>
      <section class="message">

        <%== message[:content] %>

        <span class="message-footer">
          <span class="user-logo <%= message[:author_theme] %>">
            <%= message[:author_initials] %>
          </span>
          posted <%= message[:posted] %>
        </span>
      </section>
    <% end %>
  </section>
</section>

<section class="divider"></section>

<% if @user %>
  <form class="new-message-wrapper" method="post" action="/topic/<%= @topic_id %>">
    <section class="new-message-header">
      <label>Reply</label>
      <span class="mla text-small">Markdown supported</span>
    </section>
    <textarea name="content" class="message-editor"></textarea>
    <section class="new-message-footer">
      <span class="user-logo <%= @user[:theme] %>">
        <%= @user[:initials] %>
      </span>
      <button type="submit" class="button theme-<%= @user[:theme] %>">Post</button>
    </section>
  </form>
<% else %>
  <session class="new-topic-wrapper">
    <a href="/join">Join to post</a>
  </section>
<% end %>
